
/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-icon-height: 29px,
    $ui-header-icon-width: 32px,
    $ui-header-icon-spacing: 10px,
    $ui-header-text-margin: 0px,
    $ui-header-font-size: 16px,
    $ui-header-font-weight: bold,
    $ui-header-glyph-color: #fff
);

.x-title-icon-navigation {
    font-family: FontAwesome;    
   	font-size: 26px;
   	line-height: 24px;
}